* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    /* background-color: #f5f5f5; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

a {
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}

.superNav {
    font-size: 13px;
}

.form-control {
    outline: none !important;
    box-shadow: none !important;
}

@media screen and (max-width:540px) {
    .centerOnMobile {
        text-align: center
    }
}

.carousel-item img {
    object-fit: cover !important;
    height: 100%;
}

.mini-features .card {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.mini-features .card:hover {
    background-color: #FFC107;
    color: white;
    transform: scale(1.05);
}

.section-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-align: center;
}

.product-categories img {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.product-categories img:hover {
    transform: scale(1.05);
}

.product-list .card {
    transition: all 0.3s ease-in-out;
}

.product-list .card:hover {
    transform: scale(1.04);
}

.product-list a {
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 300;
}

.product-list a:hover {
    color: black;
}

.product-list .card .card-body p{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
}

.footer a{
    color: rgba(0, 0, 0, 0.8);
    font-weight: 500;
}
.footer p{
    color: rgba(0, 0, 0, 0.8);
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
}